article h2, section {
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
}

article h2::before {
    content: "";
    border-bottom: 6px double #59affd;
    width: 30px;
    height: 0.5em;
    position: absolute;
    top: 0;
    margin-left: -40px;
}

article h2::after {
    content: "";
    border-bottom: 6px double #59affd;
    width: 30px;
    height: 0.5em;
    position: absolute;
    top: 0;
    margin-left: 10px;
}

.rotation div {
    margin: 15px;
    padding: 0;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid #59affd;
    background-color: #ffc000;
}

.rotated {
    transform: rotate(40deg);
}

.scaling div {
    margin: 15px;
    padding: 0;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 2px solid #59affd;
    background-color: #ffc000;
}

.big {
transform: scale(1.5);
}

.small {
    transform: scale(0.5, 0.8);
}

.movement {
    transform: translate(10px, 15px);
}

.incline {
    transform-origin: left top;
    transform: skew(10deg, 10deg);
}