.div1 {
    margin: 0;
    padding: 50px;
    height: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgb(3, 15, 18);
    background: linear-gradient(0deg, rgba(3, 15, 18, 1) 9%, rgba(89, 175, 253, 1) 50%, rgba(3, 15, 18, 1) 91%);
}

.img {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0;
    padding: 0;
    transition: all 1s ease-in-out;
}

.img:hover {
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
    display: block;
}
