body {
    margin: 0;
    background-color: #030f12;
    font-family: 'Amatic SC', cursive;
}

.logo {
    background-image: -webkit-linear-gradient(top, #ffc000, #030f12)
}

.logo img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.logo-text {
    text-align: center;
    color: #ffc000;
}

hr {
    margin: 0;
    padding: 5px;
    border: none;
    border-top: 2px solid #59affd;
    box-shadow: 0 10px 10px -10px #59affd inset;
}

nav {
    text-align: right;
}

.menu {
    display: inline-block;
    list-style: none;
}

.menu li {
    margin: 5px;
    padding: 3px;
    display: inline;
}

.menu a {
    color: #ffc000;
    text-decoration: none;
}

.nav-link:hover {
    color: #59affd;
    font-weight: bold;
    text-shadow: 1px 1px 4px #59affd;
}

main div {
    margin: 2%;
    text-align: justify;
    color: #fff;
}
